@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #046BF5;
  --secondary: #02357A;
  --tertiary: #DEE9F4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Regular.woff2') format('woff2'),
       url('/fonts/Recoleta-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Bold.woff2') format('woff2'),
       url('/fonts/Recoleta-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: url('/fonts/lota/Los Andes  Lota Grotesque Alt 1 Regular.otf') format('otf'),
       url('/fonts/lota/Los Andes  Lota Grotesque Alt 1 Regular.otf') format('otf');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: url('/fonts/lota/Los Andes  Lota Grotesque Alt 2 Bold.otf') format('otf'),
       url('/fonts/lota/Los Andes  Lota Grotesque Alt 2 Bold.otf') format('otf');
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Utility class for using Satoshi font */
.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: #BDD4E9;
  font-family: 'Satoshi', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#svg{
  stroke: #ffffff;
  stroke-width: 3px;
  fill-opacity: 0;
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
